<div class=houseMembers>
    <ul>
        <% for(var i=0; i < houseMembers.length; i++) { %>
        <div class=row>
            <li><%= houseMembers[i].fname %> <%= houseMembers[i].lname %> </li>
            <!-- <button class=shopButton><i class="fa fa-trash"></i></button> -->
        </div>  
        <% } %>
    </ul>     
</div>