<div class="houseMembersBackground">
    <p> House Members </p>
    <ul>
        <% for(var i=0; i < houseMembers.length; i++) { %>
            <li><%= houseMembers[i].fname %> <%= houseMembers[i].lname %> </li>
        <% } %>
    </ul>     
</div>