<!-- views/partials/join_house.ejs -->

    <form action="/createhouse" method="POST">
        <input type="text" placeholder="House Name" name="hname" required>
        <button type="submit" id="createHouse" value="Submit">Create House</button>
    </form>
    <form action="/joinhouse" method="POST">
        <input type="text" placeholder="House Name" name="hname" required>
        <button type="submit" id="joinhouse" value="Submit">Join House</button>
    </form>
    <form action="/joinuser" method="POST">
        <input type="text" placeholder="Friend's email" name="email" required>
        <button type="submit" id="joinUser" value="Submit">Join House</button>
    </form>