<!-- views/partials/navbar.ejs  -->

<ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/page2">Page2</a></li>
    <li><a href="">Contact</a></li>
    <li style="float:right"><a href="/login">Signup/Login</a></li>
</ul> 