<!-- views/partials/navbar.ejs  -->

<ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="">Contact</a></li>
    <li style="float:right"><a href= <%= LoginOrAcc %> > <%= loginAccDisplay %> </a></li>
</ul> 