<!-- views/partials/shopping.ejs  -->


<div class="shoppingListBackground">


    <% for(var i=0; i < shopping.length; i++) { %>
        <div class="shopItem">
                <li> <%= shopping[i][0] %>: <%= shopping[i][1] %> </li>
        </div>  
    <% } %>
    <form action="/addItem" method="POST">
        <input type="text" placeholder="Item needed" name="item" required>
        <button type="submit" id="addItemButton" value="Submit">Add</button>
    </form>
</div>
