<!-- views/partials/shopping.ejs  -->

<div class="plainWordsBackground">
    <h1> Shopping List <h1>
    <ul>
        <% for(var i=0; i < shopping.length; i++) { %>
        <li><%= shopping[i][0] %> <%= shopping[i][1] %></li>
        <% } %>
    </ul> 
</div>
