head {
    background-color: #085a79;
}

body {
    /* background-color: #085a79; */
    background-image: url('/newhouses.jpg');
    background-size: 100%;

    
    text-shadow: 0 0 0 #000;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 13%;
    background-color: rgb(1, 34, 61);
    color: white;
    text-align: center;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2a9d8f;
}


li a {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    opacity: 0.8;
}

.active {
    background-color: #e76f51;
}


div.shopItemContainer {
    margin: 2%;
    padding: 1%;
    border: 2%;
    border-radius: 25px;
    background-color: beige;
    width:20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.shopItem {
    border-radius: 25px;
    margin: 2%;
    border: 2%;
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 70%;
}

.shopButton {

    width: 10%;
    color: black;
    float: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}