.houseMembersBackground{
    background-color:  rgb(186, 242, 250);
    color: #264653;
    border-radius: 12px;
    margin-bottom: 100px;    
    font-size: x-large;
    width:auto;
    padding: 5px;
}


p {
    text-align: center;
}
