/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f5a29c;
}


form {
    border: 0px solid;
    border-color: #264653;
}

.houseOptions{
    width: 80%;
    margin:auto;
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    margin-top: 30%;
}

.houseHolder{
    background-color:teal;
    width:30%;
    position: absolute;
    height: 100%;
    left: 35%;

}

