.backgroundContainers {
    background-color:  aliceblue;
    margin: auto;
    width: 30%;
    padding: 10px;
    margin-top: 10%;
    border-radius: 12px;
}
.myDetails {
    margin: auto;
    width: 60%;
    padding: 12px;
    color: #264653;
}
