.shoppingListBackground{
    background-color:  rgb(250, 250, 186);
    margin: auto;
    float: right;
    color: #264653;
    width: auto;
    padding: 10px;
    margin-top: 10%;
    padding-bottom: 2%;
    border-radius: 12px;
    font-size: larger;
    margin-bottom: 100px;
}

div.shopItemContainer {
    height: 500px;
    overflow: scroll;
}

div.shopItem {
    padding: 1%;
    /* background-color: beige; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    width: auto;
    border-bottom: 2px black solid;
}

form {
    border: 0px;
    padding: auto;
    align-content: center;
    box-sizing: border-box;
}
