head {
    background-color: #264653;
}

body {
    background-color: #264653;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2a9d8f;
}

li a {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    opacity: 0.8;
}

.active {
    background-color: #e76f51;
}
