<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="about.css" rel="stylesheet" type="text/css" />
    <link href="basicLayout.css" rel="stylesheet" type="text/css" />
    <title>About Homiezz</title>
</head>

<body>
    <%- include('partials/navbar.ejs') %>
    <div class="aboutUsBody">
<p>Welcome to the Homiezz Website!</p>
<p>It’s a great website for Flatmates to do Flatmatey Things!</p>
<p>Using this website, flatmates and housemates can share their bills, their shopping lists and possibly even their calendars!</p>
<p>The idea of this website is to get the logistics of living together out of the way and enjoy each other’s company!</p>
<p>The features of this website include</p>
<ul>
<li>Shared Shopping Lists</li>
<li>Quick to access important details of your house</li>
<li>Leave notes for each other!</li>
<li>Share your bills, and have a simple way to see how much you owe to the house!</li>
</ul>
</div>
</body>
</html>