<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">

<head>
    <link href="about.css" rel="stylesheet" type="text/css" />
    <link href="basicLayout.css" rel="stylesheet" type="text/css" />
    <title>About Homiezz</title>
</head>

<body>
    <%- include('partials/navbar.ejs') %>
    <div class="aboutUsBody">
        <p> This is a website for
            <br> Flatmates to do Flatmatey Things! </p>
    </div>

</body>
</html>