<!-- Views/dashboard.ejs -->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">

<link href="home.css" rel="stylesheet" type="text/css"/>
<link href="basicLayout.css" rel="stylesheet" type="text/css"/>
    <head>
        <metacharset="UTF-8"/>
        <title>Homiezz</title>
    </head>
    <body>
        <%- include('partials/navbar.ejs') %>

        <%- include(dashView) %>
    </body>
</html>