
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">


    <head>
        <meta charset="UTF-8"/>
        <title>Homiezz</title>

        <link href="basicLayout.css" rel="stylesheet" type="text/css" />
        <link href= <%= cssFile %> rel="stylesheet" type="text/css"/>
        
    </head>
    <body>
        <%- include('partials/navbar.ejs') %>
        <% for(var i=0; i < dashView.length; i++) { %>
            <%- include(dashView[i]) %>
        <% } %>
    </body>

    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
</html>