<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">


<head>
    <meta charset="UTF-8" />
    <title>Homiezz</title>
    <script type="text/javascript" src="Resources/home.js"></script>
    <link href="home.css" rel="stylesheet" type="text/css" />
    <link href="basicLayout.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="login.js"></script>
</head>

<body>

    <%- include('partials/navbar.ejs') %>
    <div class="loginContainer">
        <section class="container left"> <h2> Login to existing account </h2>
            <form action="/signin" method="POST">
                    <b>Email</b>
                <input type="text" placeholder="Enter Email" name="uname" required>

                    <b>Password</b>
                <input type="password" placeholder="Enter Password" name="psw" required>


                <button type="submit" value="Submit">Login</button>
                    <input type="checkbox" checked="checked" name="remember">
                    <b>Remember me</b>
                <div class="container">
                    <span class="psw">
                        <b>
                            <a href="page2"> Forgot password?</a>
                        </b>
                    </span>
                </div>
            </form>
        </section>

        <section class="container right"> <h2> Register a new account </h2>
            <form action="/signup" method="POST">
                <div class="realNames">
                    <div class="fname">
                            <b>First Name</b>
                        <input type="text" placeholder="Enter First name" name="fname" required>
                    </div>
                    <div class="lname">
                            <b>Last Name</b>
                        <input type="text" placeholder="Enter First name" name="lname" required>
                    </div>
                </div>
                    <b>Email</b>
                <input type="text" id="emailEnter" placeholder="Enter Email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9\-.]+.[a-z{2,}]"
                    required>

                    <b>Password</b>
                <input type="password" id="regPsw" placeholder="Enter Password" name="psw" pattern="(?=.*\d).{8,}" required>
                <div>
                        <b>Re-enter Password</b>
                    <input type="password" id="regPswTwo" placeholder="Enter Password" name="repsw" required>
                </div>

                <button type="submit" id="subButton" value="Submit">Signup</button>

                <div id="requirements">
                    <h3>Information must match the following</h3>
                    <p id="email" class="invalid">Validity of Email</p>
                    <p id="number" class="invalid">Password has One or more
                        <b>numbers</b>
                    </p>
                    <p id="length" class="invalid">Minimum
                        <b>8 characters</b> for password </p>
                    <p id="both" class="invalid">Confirm Password</p>
                </div>
            </form>
        </section>
    </div>
</body>

<footer>
        <%- include('partials/footer.ejs') %>
    </footer>

</html>