<!DOCTYPE html>


<head>
    <meta charset="UTF-8" />
    <title>Homiezz - Me</title>
    <html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
    <link href="my_account.css" rel="stylesheet" type="text/css" />
    <link href="basicLayout.css" rel="stylesheet" type="text/css" />
    <script src="my_account.js"></script>
</head>

<body>  
    <%- include('partials/navbar.ejs') %>
    <section class="backgroundContainers">
        <section class="myDetails">
            <p align="center" id="fName" class="userData"> This is a placeholder! </p>
            <p align="center" id="lName" class="userData"> This is a placeholder! </p>
            <p align="center" id="email" class="userData"> This is a placeholder! </p>
            <p align="center" id="house" class="userData"> This is a placeholder! </p>

        </section>
    </section>

    <section class="backgroundContainers">
        <button type="button" > <a href="/logout" > LOGOUT </a> </button>
</body>


</html>